@font-face {
  font-family: 'Myriad Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/MYRIADPRO-REGULAR.woff');
}

@media (max-width: 1920px) {
  .content-body{
    background-color: black;
    width: 960px;
    margin: auto;
    border-radius: 15px;
    position: relative;
    display: flex;
    padding: 3vh;
    box-shadow: 0px 0px 10px #888888
  }
}

@media (min-width: 1920px) {
  .content-body{
    background-color: black;
    width: 56%;
    margin: auto;
    border-radius: 15px;
    position: relative;
    display: flex;
    padding: 3vw;
    box-shadow: 0px 0px 10px #888888
  }
}

@media (max-width: 600px) {
  .content-body{
    background-color: black;
    width: 400px;
    margin: auto;
    border-radius: 15px;
    position: relative;
    display: flex;
    padding: 3vh;
    box-shadow: 0px 0px 10px #888888
  }
}

@media (max-width: 600px) {
  .content-body{
    width: 370px;
  }
}
#content-header{
  font-size: large;
  font-style: bold;
}