@font-face {
  font-family: 'Myriad Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/MYRIADPRO-REGULAR.woff');
}

.Footer {
  width: 100%;
  height: 50px;
  display: inline-block;
  position: relative;
  align-items: center;
}

.icon {
  width:3rem;
}

.icon:hover {
  stroke: beige;
}