.Header{
  background-color: black;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 5%;
  width: 50%;
  height: 20%;
  float: left;
  overflow: hidden;
  align-items: center;
  text-align: center;
}

.Navlink {
  padding:30px;
}

.Logo{
  animation: onRelease 0.1s ease-in-out 0s 1 normal forwards;
}
.Logo:hover{
  animation: onHover 0.1s ease-in-out 0s 1 normal forwards;
}
.Logo:active{
  animation-play-state: paused;
}

@keyframes onHover {
  0% {
    filter: invert(0);
    width: 10%;
  }
  100% {
    filter: invert(0.3);
    width: 9.5%;
  }
}

@keyframes onRelease {
  0% {
    filter: invert(0.3);
    width: 9.5%;
  }
  100% {
    filter: invert(0);
    width: 10%;
  }
}