@font-face {
  font-family: 'Myriad Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/MYRIADPRO-REGULAR.woff');
}

.Header{
  /*background-color: black;*/
  position: absolute;
  margin: 0;
  padding: 0;
  top: 5%;
  width: 100%;
  height: 20%;
  float: left;
  display: block;
  overflow: hidden;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

.NavButton {
  padding: 20px;
  display: inline;
}

#Navlink{
  color: #242228;
  font-family: 'Myriad Pro';
  letter-spacing: 0.3vw;
  font-stretch: wider;
  text-decoration: none;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

#Navlink:hover{
  text-decoration: underline;
}

.LogoButton{
  display: inline;
}

.Logo{
  animation: onRelease 0.1s ease-in-out 0s 1 normal forwards;
}
.Logo:hover{
  animation: onHover 0.1s ease-in-out 0s 1 normal forwards;
}
.Logo:active{
  animation-play-state: paused;
}

@keyframes onHover {
  0% {
    filter: invert(0);
    width: 10%;
  }
  100% {
    filter: invert(0.3);
    width: 9.7%;
  }
}

@keyframes onRelease {
  0% {
    filter: invert(0.3);
    width: 9.7%;
  }
  100% {
    filter: invert(0);
    width: 10%;
  }
}